<div class="mt-6">
    <div class="ratio ratio-16x9 mt-4">
        <div class="video-container">
            <iframe  src="{{ video_youtube ~ discoverVideos.key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>